* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.089);
}

section:not(section.masthead) {
  align-self: center;
  max-width: 1200px;
}

hr {
  border: solid 1px rgba(0, 0, 0, 0.144);
  width: 85%;
  margin-top: 20px;
  margin-bottom: 25px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 28vw;
  max-height: 100px;
  background-color: rgba(255, 255, 255, 0.863);
  padding: 8px 0 5px 0;
  position: absolute;
  top: 0;
  width: 100%;
}

header h1 {
  font-size: 7vw;
  margin: 0;
  color: rgb(0, 60, 138);  
  font-family: 'Montserrat', sans-serif;
}

header nav {
  width: 100%;
  max-width: 600px;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding-left: 0;
  padding: 0 25px;
  margin: 0;
  min-width: 100%;
}

header a {
  text-decoration: none;
  color: rgb(0, 60, 138);  
  font-weight: bolder;
  font-size: 24px;
}

header a span {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
}

main h2 span + span {
  margin-left: 5px;
}

main section {
  width: 90%;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  margin-top: 55px;
  line-height: 1.5em;
}

.about-me .info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.about-me p {
  align-self: center;
}

.about-me img {
  display: block;
  width: 80vw;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px rgba(14, 14, 112, 0.548);
  border-radius: 15px;
  margin-bottom: 50px;
}

.about-me p {
  max-width: 800px;
  width: 100%;
} 

#skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: center;
}

#skills h2 {
  width: 100%;
}

#skills img {
  margin: 40px 15px 8px 15px;
  width: 100px;
  height: 100px;
}

.skill-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: calc(100% / 8);
}

#projects {
  display: flex;
  flex-direction: column;
}

#projects h2 {
  margin-bottom: 50px;
}

.project {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  align-self: center;
}

.project + .project {
  margin-top: 5vmax;
}

.project span {
  display: inline-block;
  border: solid 1px rgba(13, 37, 117, 0.24);
  border-radius: 3px;
  font-weight: bold;
  padding: 5px 8px;
  margin: 3px 3px;
  font-size: 12px;
  cursor: default;
}

.project .buttons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.project .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 2.8em;
  background-color: rgb(0, 60, 138);  
  border-width: 1px;
  border-radius: 3px;
  outline: none;
  color: white;
  margin-right: 8px;
  cursor: pointer;
  text-decoration: none;
  padding-top: 3px;
}

.project .button:hover {
  background-color: rgba(9, 1, 117, 0.514);
}

.project .button:active {
  transform: scale(0.95);
}

.project img {
  border-radius: 5px;
  border: solid 1px rgba(2, 48, 199, 0.274);
  max-width: 100%;
}

.project i {
  transform: scale(1.5);
  padding-right: 8px;
  padding-bottom: 3px;
}

.tools {
  margin-bottom: 25px;
}

.tools small {
  display: flex;
  flex-wrap: wrap;
}

.tools span {
  width: fit-content;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

#contact input {
  line-height: 2em;
}

#contact textarea {
  height: 150px;
}

#contact .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#contact form {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 700px;
  width: 100%;
}

#contact form label {
  margin-top: 15px;
}

#contact ol {
  padding-left: 0;
}

#contact button {
  padding: 12px 25px;
  width: 150px;
  margin-top: 50px;
  margin-bottom: 100px;
  align-self: center;
  border: solid 1px rgba(0, 0, 0, 0.582);
  border-radius: 5px;
  background-color: rgb(0, 60, 138);  
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 14px;
}

#contact button:active {
  transform: scale(0.95);
}

.contact-extra {
  display: flex;
  flex-direction: column;
  margin: 50px 0 35px 0;
  width: 100%;
  height: 100%;
}

.contact-extra p {
  margin: 5px 0;
}

.contact-extra iframe {
  width: 100%;
  min-height: 250px;
  margin-top: 20px;
}

div.footer {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  font-size: 45px;
  width: 100%;
  max-width: 300px;
  margin-bottom: 25px;
  color: rgb(0, 60, 138);  
}

div.footer i + i {
  margin-left: 25px;
} 

div.footer a {
  color: rgb(0, 60, 138);  

}
div.footer a:visited {
  color: rgb(0, 60, 138);  
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: rgba(192, 196, 209, 0.541);
  margin-top: 30px;
  color: rgb(3, 40, 160);
  font-weight: bold;
}

.masthead {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 75vmax;
  overflow: hidden;
  background-size: cover !important;
  background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 37%, rgba(0,0,0,0.65) 100%), url(img/hero-images/mountain-2248686_1920.jpg) no-repeat center center scroll;
  border: solid 1px rgba(0, 0, 255, 0.199);
  box-shadow: 0 2px 10px rgba(0, 0, 255, 0.267);
}

.masthead h2 {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: bold;
  color: #eee;
  font-size: 4.5vmin;
  letter-spacing: 0.13em;
  line-height: 1;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
  margin-bottom: 10vh;
  padding-right: 20vw;
}

.masthead h2 span {
  margin: 3vw;
}

@media only screen and (min-width: 350px) {
  header a {
    font-size: 4.2vw;
  }

  header a span {
    display: inline-block;
  }

  header nav ul {
    padding: 0 10px;
  }
}

@media only screen and (min-width: 500px) {
  header {
    min-height: 125px;
  }

  header h1 {
    font-size: 4vh;
  }

  header a {
    font-size: 2.5vh;
  }
  .masthead {
    height: 75vh;
  }

  .masthead h2 {
    flex-direction: row;
    font-size: 2.7vh;
    margin-bottom: 10vmin;
    padding-right: 0;
  }

  .masthead h2 span {
    margin: 1vw;
  }

}

@media only screen and (min-width: 768px) {
  section:not(section.masthead) {
    align-self: center;
  }

  hr {
    margin-top: 50px;
    margin-bottom: 35px;
  }
    .masthead {
      padding: 0 8vw;
    }

    .masthead h2 {
      font-size: 24px;
    }

  header {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2vw 0 1vw;
    min-height: 85px;
  }

  header h1 {
    font-size: 3.5vh;
    min-width: fit-content;
    margin-right: 25px;
  }
  
  header nav {
    width: 60%;
  }

  header nav ul {
    width: 350px;
  }

  header a {
    font-size: 2.5vmin;
  }
  
  #skills {
    display: flex;
    justify-content: center;
  }

  iframe {
    height: 500px;
    margin-top: 25px;
  }
}

@media only screen and (min-width: 1000px) {
  header nav {
    margin-top: 15px;
  }

  .project {
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    min-width: 100%;
    /* border: solid red; */
    min-height: 350px;
  }

  .project a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 50%;
  }

  .project .buttons {
    box-sizing: border-box;
    flex-wrap: nowrap;
    width: 225px;
  }

  .project-info {
    margin-left: 2vw;
    min-width: 45%;
    padding-right: 20px;
  }

  .project-info p {
    font-size: 1.8vmin;
  }

  .project-info h3 {
    margin: 0;
  }

  .project img {
    /* height: 100%; */
    max-width: fit-content;
  }

  .project a:not(.buttons a) {
    height: 275px;
  }

  .project + .project {
    margin-top: 5vw;
  }
  
  .buttons a {
    flex-direction: row;
  }

  .buttons a {
    min-height: 50px;
    font-size: 16px;
  }
  

  .masthead h2 {
    font-size: 4vmin;
    margin-bottom: 5vmin;
  }

}

@media only screen and (min-width: 1200px) {
  .about-me {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .about-me img {
    display: inline-block;
    max-width: 375px;
    min-width: 325px;
  }

  .info {
    margin-right: 75px;
  }
}