html {
  background: url(https://i.imgur.com/b9r5sEL.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

body {
  display: flex;
  height: inherit;
  margin: inherit 5px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.key, .key-pressed {
  color: white;
  background-color: rgba(0, 0, 0, 0.76);
  border: solid;
  border-color: black;
  border-radius: 5px;
  padding: 13px;
  padding-bottom: 8px;
  width: 65px;
  margin: 8px;
  font-family:'Courier New', Courier, monospace;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.key-pressed {
  color: rgba(255, 255, 0, 0.699);
  border-color: rgba(255, 255, 0, 0.699);
  transform: scale(1.2);
}

.key-pressed p {
  color: rgba(255, 255, 0, 0.699);
  font-weight: bold;
}

p {
  color: rgba(255, 230, 0, 0.829);
  margin: auto;
  font-size: 10px;
  font-weight: 500;
  font-family: Arial;
}

@media (max-width: 1032px) {
  .container {
    width: 650px;
  }
}

@media (max-width: 580px) {
  .container {
    max-width: 250px;
  }
}
